/* Definición de Colores y Variables */
:root {
    --tracklist-bg: #4a4a4a;   /* Gris oscuro del boceto */
}
.text-monospace {
    font-family: "Jersey 20", sans-serif !important;
    font-weight: 400;
    font-style: normal;
}

/* --- HERO SECTION --- */
.hero-section {
    min-height: 75vh;
    /* Degradado oscuro para legibilidad sobre la imagen de Gorillaz */
    background: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.8)), 
                url('Gorillaz.jpg') no-repeat center center;
    background-size: cover;
}

.color-verde{
    color: #00ff2a;
}

.main-title {
    font-size: 120px;
    letter-spacing: 5px;
}

.description {
    max-width: 550px;
    font-size: 15px;
    color: #ddd;
}

/* --- SECCIÓN LA BANDA --- */

.section-title,.title-size{
    font-size: 80px;
    color: white;
}

.member-card {
    background-color: rgb(238, 231, 231);
    transition: all 0.2s ease;
}

.member-card:hover {
    transform: scale(1.02);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.text-purple { color: rgb(214, 0, 214); }

/* Ajuste para mantener el offset solo en escritorio */
@media (min-width: 768px) {
    .member-col-offset {
        max-width: 48%; /* Ajuste para que quepa con el offset */
    }
}

/* --- seccion track list --- */
.tracklist-section {
    background-color: rgb(77, 77, 77);
}

.track-list li {
    padding: 10px 0;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.track:hover{
    transform: scale(1.02);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1)
}

/* --- manifiesto --- */
.manifesto-text {
    font-size: 80px;
}

/* --- footer --- */
.bg-black {
    background-color: #000000;
}

.footer-nav a {
    font-weight: bold;
    letter-spacing: 1px;
}

.footer-nav a:hover {
    color: #00ff2a !important; /* Verde al pasar el ratón */
}

.ultra-small {
    font-size: 0.65rem;
}

/* --- RESPONSIVE ADJUSTMENTS --- */
@media (max-width: 768px) {
    .main-title { font-size: 3.5rem; }
    .manifesto-text { font-size: 2.2rem; }
}